canvas {
	width: 100%;
	background: black;
	height: 100%;
	margin: 0;
}

body, html {
	height: 100%;
	margin: 0;
}

#container {
	width: 100%;
	position: relative;
	text-align: center;
}

#container.close {
	display: none;
}

#inst {
	z-index: 1;
	position: fixed;
	top: 100px;
	left: 40%;
	width: 300px;
	background: #8cfca2;
	margin: 0;
	border: 3px solid rgb(10, 182, 33);
}

#close {
	position: absolute;
	top: 7px;
	left: 45%;
	margin: 0;
	border: 2px solid rgb(0, 190, 25);
	border-radius: 50%;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

p {
	padding: 20px 0 0 0;
	font-size: 16px;
}